<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/pizza_style.css" type="text/css" />
		<title>Pizza app</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>